body { margin: 0;}
#unity-container { position: absolute; width: 100%; height: 100% }
#unity-canvas { background: #231F20; width: 100%; height: 100%  }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 640px; height: 237px; background: url('LogoSPY.png') no-repeat center }
#unity-progress-bar-empty { width: 640px; height: 18px; margin-top: 10px; background: url('progress-bar-empty-dark.png'); background-size: 640px 18px; }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png'); }
#unity-header { background-color:#EEEEFF; border-radius: 10px; padding: 3px 10px; margin: 3px; border: solid; border-color: #00FFFF; }
#unity-build-title { float: right; margin-right: 10px; line-height: 54px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { float: right; width: 54px; height: 54px; background: url('fullscreen-button.png') no-repeat center }
#unity-mobile-warning { position: absolute; left: 50%; top: 20%; transform: translate(-50%); background: white; padding: 10px; display: none }
.loadButton { background-color: #4CAF50; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; }
