body { padding: 0; margin: 0;
  background-image: url("background/Front_Tex.png");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
#unity-container { position: absolute; width: 100%; height: 100% }
#unity-canvas { background: #231F20; width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-header { position: relative; background-color:#EEEEFF; border-radius: 10px; padding: 3px 10px; margin: 3px; border: solid; border-color: #00FFFF; }
#unity-header2 { background-color:#EEEEFF; border-radius: 10px; padding: 3px 10px; margin: 3px; border: solid; border-color: #00FFFF; }
.unity-mobile #unity-header { display: none }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-mobile-warning { position: absolute; left: 50%; top: 20%; transform: translate(-50%); background: white; padding: 10px; display: none }
.loadButton { background-color: #4CAF50; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; }
li{font-family: sans-serif;}
h1{font-family: sans-serif;}
h2{font-family: sans-serif;}
